<div class="container">
    <body>
        <header class="header">
            <h1>Receipt</h1>
        </header>
        <main class="mainPart">
            <p>Payment confirmation _____________________________________________________</p>
            <p>Date: <script> document.write(new Date().toLocaleDateString()); </script></p>
        </main>
    </body>
</div>


